USE [master]
GO
/****** Object:  Database [QLCAFE]    Script Date: 12/27/2018 15:38:20 ******/
CREATE DATABASE [QLCAFE] ON  PRIMARY 
( NAME = N'QLCAFE', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLCAFE.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCAFE_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLCAFE_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCAFE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCAFE]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 12/27/2018 15:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[idLoai] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 12/27/2018 15:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[idBan] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](20) NULL,
	[trangThai] [nvarchar](10) NULL,
	[tongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idBan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/27/2018 15:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[tenTK] [nvarchar](50) NOT NULL,
	[tenHienThi] [nvarchar](50) NULL,
	[matKhau] [nvarchar](50) NOT NULL,
	[loaiTK] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUOC]    Script Date: 12/27/2018 15:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUOC](
	[idNuoc] [int] IDENTITY(1,1) NOT NULL,
	[tenNuoc] [nvarchar](50) NULL,
	[idLoai] [int] NULL,
	[gia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[idNuoc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/27/2018 15:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[idHD] [int] IDENTITY(1,1) NOT NULL,
	[idBan] [int] NULL,
	[ngayvao] [datetime] NULL,
	[ngayra] [datetime] NULL,
	[trangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/27/2018 15:38:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[idCTHD] [int] IDENTITY(1,1) NOT NULL,
	[idHD] [int] NULL,
	[idNuoc] [int] NULL,
	[soluong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCTHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__BAN__trangThai__0EA330E9]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[BAN] ADD  DEFAULT (N'Trống') FOR [trangThai]
GO
/****** Object:  Default [DF__BAN__tongTien__0F975522]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[BAN] ADD  DEFAULT ((0)) FOR [tongTien]
GO
/****** Object:  Default [DF__NUOC__gia__08EA5793]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[NUOC] ADD  DEFAULT ((0)) FOR [gia]
GO
/****** Object:  Default [DF__HOADON__ngayvao__145C0A3F]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [ngayvao]
GO
/****** Object:  Default [DF__HOADON__trangTha__15502E78]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [trangThai]
GO
/****** Object:  ForeignKey [FK__NUOC__idLoai__09DE7BCC]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[NUOC]  WITH CHECK ADD FOREIGN KEY([idLoai])
REFERENCES [dbo].[LOAI] ([idLoai])
GO
/****** Object:  ForeignKey [FK__HOADON__idBan__164452B1]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([idBan])
REFERENCES [dbo].[BAN] ([idBan])
GO
/****** Object:  ForeignKey [FK__CHITIETHO__idNuo__1BFD2C07]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([idNuoc])
REFERENCES [dbo].[NUOC] ([idNuoc])
GO
/****** Object:  ForeignKey [FK__CHITIETHOA__idHD__1B0907CE]    Script Date: 12/27/2018 15:38:22 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([idHD])
REFERENCES [dbo].[HOADON] ([idHD])
GO
