<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCafe.Properties.Settings.QLCAFEConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QLCAFE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>